@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
}

:root {
  --btn-bg: #2e3241;
  --color: #fff;
  --brightcolor: #6ccacb;
  --bg-color: #191d28;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  margin: 30px auto;
  width: 90%;
}

.logo {
  width: 250px;
}
.logo img {
  width: 100%;
}
.selects {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;

  gap: 20px;
}
.navbtns {
  background-color: var(--btn-bg);
  color: var(--color);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

.timer {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline;
  font-size: 12px;
}
.outer {
  height: 30px;
  width: 30px;
  padding: 1.7px;
  border-radius: 50%;
  border: 5px solid var(--brightcolor);
  text-align: center;
}

button img {
  height: 15px;

  position: relative;
  top: 3px;
  left: -3px;
}

.btns {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btns button {
  background-color: var(--brightcolor);
  padding: 10px;
  color: var(--color);
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: var(--color);
  border-radius: 2rem;
  transition: all 0.3s linear;
}

.switch::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: var(--brightcolor);
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch:after {
  translate: 2rem 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--btn-bg);
}

input[type="checkbox"] {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.hero .ele {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  color: var(--brightcolor);
  font-size: 40px;
  font-weight: 400;
}
.hero p {
  color: gray;
  font-size: 20px;
}

.bestPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bestPrice h3 {
  color: gray;
  font-size: 26px;
}

.bestPrice h2 {
  font-size: 80px;
  font-weight: 400;
  color: var(--color);
}
.bestPrice p {
  font-size: 16px;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  margin: 0;
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid var(--btn-bg);
}
th {
  background: var(--bg-color);
  padding: 0 12px;
  font-size: 24px;
  color: gray;
}
td {
  color: var(--color);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
}
tbody {
  display: table-row-group;
}
tbody td:first-child {
  border-radius: 10px 0 0 10px;
}
tbody td:last-child {
  border-radius: 0 10px 10px 0;
}
tbody tr {
  background: var(--btn-bg);
  margin-bottom: 10px;
  padding: 0 12px;
  border-radius: 10px;
}

.footer {
  border-top: 2px solid var(--btn-bg);
  bottom: 0;
  margin-bottom: 40px;
  padding: 13px;
  font-size: 12px;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.footer-text a {
  text-decoration: none;
  color: gray;
}
.footerright {
  display: flex;
  gap: 20px;
}

.footer-text {
  color: #888686;
}

.add-button {
  border: solid 1px var(--bg-color);
  background-color: var(--bg-color);
  position: fixed;
  left: 0;
  align-items: center;
  height: 47px;
  bottom: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  margin: 0 40px;
  width: 100%;
}
.addbtn {
  background-color: var(--btn-bg);
  color: var(--brightcolor);
  border-color: var(--brightcolor);
  padding: 10px;
  border-radius: 10px;
}
.addbtn:hover {
  background-color: var(--brightcolor);
  color: var(--color42314231423142314231);
}

@media only screen and (max-width: 768px) {
  .selects {
    justify-content: center;
  }
  .btns {
    justify-content: center;
  }
  .hero h2 {
    font-size: 14px;
  }
  .hero p {
    font-size: 10px;
  }
  .bestPrice h3 {
    font-size: 14px;
  }
  .bestPrice h2 {
    font-size: 20px;
  }
  .bestPrice p {
    font-size: 8px;
  }
  th {
    font-size: 10px;
  }
  td {
    font-size: 24px;
  }
}
@media only screen and (max-width: 415px) {
  .nav {
    flex-direction: column;
    gap: 15px;
  }
  td {
    font-size: 14px;
  }
}
